<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
    <head>
        <meta charset="utf-8">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer-when-downgrade">

        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        <meta name="description" content="{{ config.description }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
        {% block extra_header_stuff %}
        {% endblock extra_header_stuff %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
